.Login {
  margin: auto;
  width: 250px;
  padding: 20px;
  border: 2px solid rgb(101, 201, 235);
  border-radius: 10px;
}

.Login > form {
  display: flex;
  flex-direction: column;
}
.Login > form > div{
  margin-bottom: 10px;
}
