/* ALL SCREENS */
@media screen and (max-width: 1023px) {
  body {
    background-color: black;
  }
}

/* LARGE */
@media screen and (min-width: 1024px) {
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../../../assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow: auto;
  }

  .smallNav {
    margin: 15px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 25px;
    height: 25px;
  }

  header {
    height: 100vh;
  }
  /* ----------------------------------------------------- */
  .title {
    width: 45%;
    margin: auto;
    margin-top: 8vw;
    text-align: center;
    text-justify: inter-word;
  }
  .title h2 {
    color: white;
    font-weight: bold;
    font-size: 5vw;
    margin-bottom: 5vw;
  }

  .title .startNow {
    height: 5vw;
    font-size: 2.5vw;
    border-radius: 15px;
  }
  /* ----------------------------------------------------- */

  .firstLine {
    display: flex;
    height: 100vh;
  }

  .firstLine .firstLineDiv {
    position: absolute;
    width: 500px;
    top: 110vw;
  }

  .firstLineDiv h3 {
    font-weight: bold;
    font-size: 4em;
  }

  .firstLine .startNow {
    left: 100px;
    margin-top: 20px;
    font-size: x-large;
  }
  /* ----------------------------------------------------- */

  .carouselSection {
    height: 100vw;
    display: flex;
  }

  .carousel {
    border-radius: 40px;
  }

  .hero-carousel {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 45vw;
    top: 175vw;
    right: 0;
    border-radius: 10px;
  }

  .hero-carousel .startNow {
    margin-top: 10px;
    width: 40%;
    align-self: center;
    font-size: x-large;
  }
  /* ----------------------------------------------------- */

  .supportAd {
    position: absolute;
    display: flex;
    top: 180vw;
    height: 100vh;
  }

  .supportAd .supportAdDiv {
    position: relative;
    top: 65vw;
  }

  .supportAdDiv h3 {
    font-weight: bold;
    font-size: 4em;
  }

  .supportAd .startNow {
    left: 40%;
    margin-top: 20px;
    font-size: x-large;
  }
  /* ----------------------------------------------------- */

  .bookNow {
    position: absolute;
    display: flex;
    top: 100vw;
    height: 100vh;
    right: 0;
  }

  .bookNow .bookNowDiv {
    position: relative;
    top: 210vw;
  }

  .bookNowDiv h3 {
    font-weight: bold;
    font-size: 4em;
    width: 500px;
  }

  .bookNow .startNow {
    left: 20%;
    margin-top: 20px;
    font-size: x-large;
  }
  /* ----------------------------------------------------- */

  .dreamVacation {
    position: absolute;
    display: flex;
    top: 100vw;
    height: 0;
  }

  .dreamVacation .dreamVacationDiv {
    position: relative;
    top: 260vw;
    left: 30vw;
  }

  .dreamVacationDiv h3 {
    width: 700px;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
  }

  .dreamVacation .startNow {
    left: 35%;
    margin-top: 20px;
    font-size: x-large;
  }

  footer {
    /* position: absolute;
    height: 100vh; */
  }
}
