version: '3.8'

services:
  mysql-service:
    image: trip-blitz-mysql

    build: ./Database

    container_name: trip-blitz-mysql

    restart: unless-stopped

    environment:
      MYSQL_HOST: localhost
      MYSQL_DATABASE: trip-blitz
      MYSQL_PASSWORD:
      MYSQL_ROOT_PASSWORD:
      MYSQL_ALLOW_EMPTY_PASSWORD: true

    volumes:
      - trip-blitz:/var/lib/mysql

  #---------------------------------------------------------------------------------------------

  api-service:
    depends_on:
      - mysql-service

    image: trip-blitz-api

    build: ./Backend

    container_name: trip-blitz-api

    ports:
      - 4000:4000

    restart: unless-stopped

    environment:
      MYSQL_HOST: mysql-service
      MYSQL_PASSWORD:

  #---------------------------------------------------------------------------------------------

  react-service:
    depends_on:
      - api-service

    image: danilvo/trip-blitz-react:1.2.0

    build: ./Frontend

    container_name: trip-blitz-react

    ports:
      - 5173:5173

    restart: unless-stopped

  #---------------------------------------------------------------------------------------------

volumes:
  trip-blitz:
