.Header {
  position: relative;
}
.Header > .logo {
  width: 15vh;
  left: 1vw;
  top: 0;
  margin: 0;
}

.Header > .userName {
  position: absolute;
  right: 20px;
  top: 3vh;
}

.Header > .userName > .MuiCardHeader-root {
  margin: 0;
  padding: 0;
}
