.Layout .Home {
  height: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.Layout .Home header {
  width: 100%;
  height: 10vh;
  grid-area: 1 / 1 / 2 / 6;
  background-color: #71c9ce;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.41);
  z-index: 1;
}
.Layout .Home .nav {
  background-color: #e3fdfd;
  height: 5vh;
  width: 100vw;
  grid-area: 2 / 1 / 3 / 6;
}
.Layout .Home footer {
  background-color: green;
  width: 100%;
  height: 5vh;
  grid-area: 5 / 1 / 6 / 6;
  position: absolute;
  bottom: 0;
}
.Layout .Home main {
  overflow: auto;
  height: 80vh;
  grid-area: 3 / 1 / 5 / 6;
}
