.Home {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.25fr 0.15fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.Home header {
  grid-area: 1 / 1 / 2 / 6;
  background-color: #ffd447;
  box-shadow: 0px 10px 20px 0px #f5d261f7;
  z-index: 1;
}
.Home .nav {
  background-color: #fff3cd;
  box-shadow: 0px 10px 20px 0px #fdf3d3f7;
  grid-area: 2 / 1 / 3 / 6;
}

.Home main {
  overflow: auto;
  grid-area: 3 / 1 / 5 / 6;
}
