/* ALL SCREENS */
@media screen and (max-width: 1023px) {
  #landingPageBody {
    background: #2bc0e4;
    background: -webkit-linear-gradient(to right, #eaecc6, #2bc0e4);
    background: linear-gradient(to right, #eaecc6, #2bc0e4);
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .bgImg main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo {
    position: absolute;
    width: 200px;
  }

  .bgImg header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .smallNav {
    display: flex;
    justify-content: center;
    height: 150px;
  }

  .title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .title h2 {
    width: 500px;
  }
  /* -------------------------------------------------------------------- */
  .firstLine {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 200px;
  }

  .firstLine h3 {
    width: 500px;
  }
  /* -------------------------------------------------------------------- */

  .carouselSection {
    display: flex;
    align-self: center;
    width: 450px;
    margin-top: 50px;
    padding-left: 40px;
  }

  .carousel {
    border-radius: 30px;
  }

  .carousel-root {
    margin-bottom: 10px;
  }
  /* -------------------------------------------------------------------- */

  .supportAd {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 200px;
  }
  /* -------------------------------------------------------------------- */

  .bookNow {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 200px;
  }
  /* -------------------------------------------------------------------- */

  .dreamVacation {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .bgImgfooter {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* LARGE */
@media screen and (min-width: 1024px) {
  #landingPageBody {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../../../assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow: auto;
  }

  .logo {
    position: absolute;
    top: 0;
    width: 200px;
    margin-top: 20px;
  }

  .bgImg header {
    height: 100vw;
  }

  .title {
    width: 45%;
    margin: auto;
    margin-top: 8vw;
    text-align: center;
    text-justify: inter-word;
  }

  .title h2 {
    color: white;
    font-weight: bold;
    font-size: 5vw;
    margin-bottom: 5vw;
  }

  .title .startNow {
    height: 5vw;
    font-size: 2.5vw;
    border-radius: 15px;
  }

  .firstLine {
    display: flex;
    height: 100vw;
  }

  .firstLine .firstLineDiv {
    position: absolute;
    width: 500px;
    top: 110vw;
  }

  .firstLineDiv h3 {
    font-weight: bold;
    font-size: 4em;
  }

  .firstLine .startNow {
    left: 100px;
    margin-top: 20px;
    font-size: x-large;
  }

  .carouselSection {
    height: 100vw;
  }

  .carousel {
    border-radius: 40px;
  }

  .hero-carousel {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 45vw;
    top: 175vw;
    right: 0;
    border-radius: 10px;
  }

  .hero-carousel .startNow {
    margin-top: 10px;
    width: 50%;
    left: 150px;
    align-self: center;
    font-size: x-large;
  }

  .blank {
    height: 100vw;
  }

  .supportAd {
    position: absolute;
    display: flex;
    top: 180vw;
    height: 100vw;
  }

  .supportAd .supportAdDiv {
    position: relative;
    top: 65vw;
  }

  .supportAdDiv h3 {
    font-weight: bold;
    font-size: 4em;
  }

  .supportAd .startNow {
    left: 10vw;
    margin-top: 20px;
    font-size: x-large;
  }

  .bookNow {
    position: absolute;
    display: flex;
    top: 100vw;
    height: 100vw;
    right: 0;
  }

  .bookNow .bookNowDiv {
    position: relative;
    top: 210vw;
  }

  .bookNowDiv h3 {
    font-weight: bold;
    font-size: 4em;
    width: 500px;
  }

  .bookNow .startNow {
    left: 20%;
    margin-top: 20px;
    font-size: x-large;
  }

  .dreamVacation {
    position: absolute;
    top: 100vw;
  }

  .dreamVacation .dreamVacationDiv {
    position: relative;
    top: 260vw;
    left: 25vw;
  }

  .dreamVacationDiv h3 {
    width: 700px;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
  }

  .dreamVacation .startNow {
    left: 35%;
    margin-top: 20px;
    font-size: x-large;
  }

  .bgImg footer {
    position: absolute;
    top: 100vw;
  }

  .bgImg footer .createdBy {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 40vw;
    top: 300vw;
    margin-top: 12vw;
    padding-bottom: 1vw;
    align-items: center;
  }
}
